<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firesecure">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View_and_Presenter.ChoseDivision">

        </activity>
        <activity android:name=".View_and_Presenter.AddDivision">

        </activity>
        <activity android:name=".View_and_Presenter.InfoDivision">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseBuilding">

        </activity>
        <activity android:name=".View_and_Presenter.AddBuilding">

        </activity>
        <activity android:name=".View_and_Presenter.InfoBuilding">

        </activity>
        <activity android:name=".View_and_Presenter.PacificInfoBuilding">

        </activity>
        <activity android:name=".View_and_Presenter.OTXInfoBuilding">

        </activity>
        <activity android:name=".View_and_Presenter.DocumentSchemaBuilding">

        </activity>
        <activity android:name=".View_and_Presenter.DocumentWayBuilding">

        </activity>
        <activity android:name=".View_and_Presenter.DocumentPlanFloor">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseFloor">

        </activity>
        <activity android:name=".View_and_Presenter.AddFloor">

        </activity>
        <activity android:name=".View_and_Presenter.InfoFloor">

        </activity>
        <activity android:name=".View_and_Presenter.DocumentPlanFloorInfo">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseRoom">

        </activity>
        <activity android:name=".View_and_Presenter.AddRoom">

        </activity>
        <activity android:name=".View_and_Presenter.DocumentPlanRoom">

        </activity>
        <activity android:name=".View_and_Presenter.DocumentPlanRoomInfo">

        </activity>
        <activity android:name=".View_and_Presenter.InfoRoom">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseHydrant">

        </activity>
        <activity android:name=".View_and_Presenter.AddHydrant">

        </activity>
        <activity android:name=".View_and_Presenter.InfoHydrant">

        </activity>
        <activity android:name=".View_and_Presenter.ChosePool">

        </activity>
        <activity android:name=".View_and_Presenter.AddPool">

        </activity>
        <activity android:name=".View_and_Presenter.InfoPool">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseEmployee">

        </activity>
        <activity android:name=".View_and_Presenter.AddEmployee">

        </activity>
        <activity android:name=".View_and_Presenter.InfoEmployee">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseTech">

        </activity>
        <activity android:name=".View_and_Presenter.AddTech">

        </activity>
        <activity android:name=".View_and_Presenter.InfoTech">

        </activity>
        <activity android:name=".View_and_Presenter.ReferenceData">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseData">

        </activity>
        <activity android:name=".View_and_Presenter.AddData">

        </activity>
        <activity android:name=".View_and_Presenter.InfoData">

        </activity>
        <activity android:name=".View_and_Presenter.AddCO">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseFireres">

        </activity>
        <activity android:name=".View_and_Presenter.InfoPushHydrant">

        </activity>
        <activity android:name=".View_and_Presenter.AddPushHydrant">

        </activity>
        <activity android:name=".View_and_Presenter.ChoseCalc">

        </activity>
        <activity android:name=".View_and_Presenter.CalcArea">

        </activity>
        <activity android:name=".View_and_Presenter.CalcAll">

        </activity>
        <activity android:name=".View_and_Presenter.AddToDB.DBInfo">

        </activity>
        <activity android:name=".View_and_Presenter.AddCalc">

        </activity>
    </application>

</manifest>