<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firesecure">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireSecure"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.ChoseDivision">
            
        </activity>
        <activity android:name=".View.AddDivision">

        </activity>
        <activity android:name=".View.InfoDivision">

        </activity>
        <activity android:name=".View.ChoseBuilding">

        </activity>
        <activity android:name=".View.AddBuilding">

        </activity>
        <activity android:name=".View.InfoBuilding">

        </activity>
        <activity android:name=".View.PacificInfoBuilding">

        </activity>
        <activity android:name=".View.OTXInfoBuilding">

        </activity>
        <activity android:name=".View.DocumentSchemaBuilding">

        </activity>
        <activity android:name=".View.DocumentWayBuilding">

        </activity>
        <activity android:name=".View.ChoseFloor">

        </activity>
        <activity android:name=".View.AddFloor">

        </activity>
    </application>

</manifest>